---
title: About
permalink: /about/
---
{% include elegant-line-icons.svg %}
<div class="background-white">
  <div class="l-pad-vertical-md width-md">
    <h2 class="header is-center">About Us</h2>
    <div class="pure-g">
      <div class="box pure-u-1">
        <p class="is-justify default-color">
          Techorrect Inc. offers test automation and development acceleration consulting for software development projects. We help companies set up systems and processes that ensure quality of their software allowing for uninterrupted productivity for their developers. As well as offering test automation plans and their implementation, we support many aspects of software development projects, modernizing the development and testing environments in efficient and proactive ways.
        </p>
      </div>
    </div> <!-- pure-g -->

    <h2 class="header is-center">Team</h2>
    <div class="team pure-g">
      <div class="box pure-u-1 pure-u-md-1-2">
        {% assign author = site.authors | where:"short_name", "jeremy" | first %}
        <h3 class="box-subhead"><a href="{{ author.url }}">Jeremy Lundy</a></h3>
        <a href="mailto:jeremy@techorrect.com">jeremy@techorrect.com</a>
        {{ author.content }}
        <div class="social">
          <a href="https://ca.linkedin.com/in/jeremy-lundy" target="_blank">
            <svg class="icon-sm">
              <use xlink:href="#linkedin" />
            </svg>
          </a>
        </div>
      </div>
      <div class="box pure-u-1 pure-u-md-1-2">
        {% assign author = site.authors | where:"short_name", "ed" | first %}
        <h3 class="box-subhead"><a href="{{ author.url }}">Ed Tan</a></h3>
        <a href="mailto:ed@techorrect.com">ed@techorrect.com</a>
        {{ author.content }}
        <div class="social">
          <a href="https://www.linkedin.com/in/ed-tan" target="_blank">
            <svg class="icon-sm icon-inline">
              <use xlink:href="#linkedin" />
            </svg>
          </a>
          <a href="https://edtan.ca/" target="_blank">
            <svg class="icon-sm icon-inline">
              <use xlink:href="#global" />
            </svg>
          </a>
        </div>
      </div>
    </div> <!-- pure-g -->
  </div> <!-- l-pad-vertical-md -->
</div> <!-- background-white -->

{% include contact.html %}
