---
title: Truth Through Automation
---
{% include elegant-line-icons.svg %}
<div class="background-light">
    <div class="splash l-pad-vertical-lrg width-md">
        <h1 class="splash-head">Truth Through Automation</h1>
        <p class="splash-subhead">
          By automating your testing and infrastructure, gain a clear picture of the quality of the software you are building.
        </p>
        <p>
            <a href="#contact-us" class="pure-button pure-button-primary">Let's Talk</a>
        </p>
    </div>
</div>

<div class="background-white">
  <div class="l-pad-vertical-md width-lg">
    <h2 class="header is-center">What We Do</h2>
    <div class="pure-g">
      <div class="box pure-u-1 pure-u-md-1-3">
        <svg class="icon box-icon">
          <use xlink:href="#gears" />
        </svg>
        <h3 class="box-subhead">Test Automation</h3>
        <p class="default-color box-text">
          Free up development resources by automating tests on each pull request and the entire application with each merge.
        </p>
      </div>
      <div class="box pure-u-1 pure-u-md-1-3">
        <svg class="icon box-icon">
          <use xlink:href="#dial" />
        </svg>
        <h3 class="box-subhead">Infrastructure Automation</h3>
        <p class="default-color box-text">
          Define infrastructure as code so that your test, staging and production environments have the same configuration where it counts and differences are clear.
        </p>
      </div>
      <div class="box pure-u-1 pure-u-md-1-3">
        <svg class="icon box-icon">
          <use xlink:href="#linegraph" />
        </svg>
        <h3 class="box-subhead">Test Insights</h3>
        <p class="default-color box-text">
          Get an overview of the current state of your test runs, historical failures and drill down to error logs.
        </p>
      </div>
    </div> <!-- pure-g -->
  </div> <!-- l-pad-vertical-md -->

  <div class="l-pad-vertical-md width-lg">
    <h2 class="header is-center">Why Test Automation</h2>
    <div class="pure-g">
      <div class="box pure-u-1 pure-u-md-1-3">
        <svg class="icon box-icon">
          <use xlink:href="#refresh" />
        </svg>
        <h3 class="box-subhead">Agile To Devops</h3>
        <p class="default-color box-text">
          The <a href="http://stateofagile.versionone.com/" target="_blank">State of Agile</a> Report by VersionOne, 94% of software organizations are working using Agile practices and 71% are investing in DevOps initiatives.
        </p>
      </div>
      <div class="box pure-u-1 pure-u-md-1-3">
        <svg class="icon box-icon">
          <use xlink:href="#tools-2" />
        </svg>
        <h3 class="box-subhead">Infrastructure Automation</h3>
        <p class="default-color box-text">
          Define infrastructure as code so that your test, staging and production environments have the same configuration where it counts and differences are clear.
        </p>
      </div>
      <div class="box pure-u-1 pure-u-md-1-3">
        <svg class="icon box-icon">
          <use xlink:href="#attachments" />
        </svg>
        <h3 class="box-subhead">Test Insights</h3>
        <p class="default-color box-text">
          Get an overview of the current state of your test runs, historical failures and drill down to error logs.
        </p>
      </div>
    </div> <!-- pure-g -->
  </div> <!-- l-pad-vertical-md -->

  <div class="l-pad-vertical-md width-lg">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5 is-center">
        <svg class="icon icon-inline">
          <use xlink:href="#target" />
        </svg>
        <svg class="icon icon-inline">
          <use xlink:href="#speedometer" />
        </svg>
        <svg class="icon icon-inline">
          <use xlink:href="#presentation" />
        </svg>
      </div>
      <div class="pure-u-1 pure-u-md-3-5 is-center">
        <h2 class="header">Increase quality, speed, and developer productivity</h2>
        <p class="default-color box-text">We free up developers from running tests locally, testers deploying environments manually and stakeholders from aggregating quality reports from multiple sources.</p>
      </div>
    </div>
  </div>
</div>

{% include contact.html %}
