---
title: Team
permalink: /team/
---
{% include elegant-line-icons.svg %}
<div class="background-white">
  <div class="l-pad-vertical-md width-md">
    <h2 class="header is-center">Team</h2>
    <div class="team pure-g">
      <div class="box pure-u-1 pure-u-md-1-2">
        {% assign author = site.authors | where:"short_name", "jeremy" | first %}
        <a href="{{ author.url | replace: 'index.html', '' }}">
        <h3 class="box-subhead">Jeremy Lundy</h3>
        <div class="profile-pic">
          {% include jeremy.jpeg %}
        </div>
        </a>
        <a href="mailto:jeremy@techorrect.com">jeremy@techorrect.com</a>
        <div class="author-description">
        {{ author.content }}
        </div>
        <div class="social">
          <a href="https://ca.linkedin.com/in/jeremy-lundy" target="_blank">
            <svg class="icon-sm">
              <use xlink:href="#linkedin" />
            </svg>
          </a>
        </div>
      </div>
      <div class="box pure-u-1 pure-u-md-1-2">
        {% assign author = site.authors | where:"short_name", "ed" | first %}
        <a href="{{ author.url | replace: 'index.html', '' }}">
        <h3 class="box-subhead">Ed Tan</h3>
        <div class="profile-pic">
          {% include ed.jpeg %}
        </div>
        </a>
        <a href="mailto:ed@techorrect.com">ed@techorrect.com</a>
        <div class="author-description">
        {{ author.content }}
        </div>
        <div class="social">
          <a href="https://www.linkedin.com/in/ed-tan" target="_blank">
            <svg class="icon-sm icon-inline">
              <use xlink:href="#linkedin" />
            </svg>
          </a>
          <a href="https://edtan.ca/" target="_blank">
            <svg class="icon-sm icon-inline">
              <use xlink:href="#global" />
            </svg>
          </a>
        </div>
      </div>
    </div> <!-- pure-g -->
  </div> <!-- l-pad-vertical-md -->
</div> <!-- background-white -->

{% include contact.html %}
