<div class="background-dark">
  <div class="l-pad-vertical-md width-lg">
    <h2 class="header is-center" id="contact-us">Contact Us</h2>

    <div class="pure-g background-light">
      <div class="box pure-u-1 pure-u-md-4-5">
        <form class="pure-form pure-form-stacked" id="email-form">
          <fieldset>
            <label id="name-label" for="name">Name</label>
            <div id="name-error"></div>
            <input id="name" type="text">

            <label id="email-label" for="email">Email</label>
            <div id="email-error"></div>
            <input id="email" type="email">

            <label id="message-label" for="message">Message</label>
            <div id="message-error"></div>
            <textarea id="message" class=""></textarea>

            <div class="g-recaptcha" data-sitekey="6LdSgksUAAAAAGiRPa5lyVSGQQxJTUV0XYJYiYjB" data-callback="enableSubmit"></div>

            <button type="submit" class="pure-button pure-button-disabled" id="submit">Send Message</button>
          </fieldset>
        </form>
        <div id="email-result"></div>
      </div>

      <div class="contact box pure-u-1 pure-u-md-1-5">
        <h3>Mailing Address</h3>
            <address>
              2100 Bloor St. W. #6150<br/>
              Toronto, Ontario<br/>
              M6S 5A5
            </address>
        <h3>Telephone</h3>
            <p>416-716-7058</p>
        <h3>Email</h3>
            <a href="mailto:info@techorrect.com">info@techorrect.com</a>
      </div>
    </div> <!-- pure-g -->
  </div> <!-- l-pad-vertical-md -->
</div> <!-- background-dark -->

<script>
let form = document.getElementById('email-form');
form.addEventListener("submit", function (event) {
  event.preventDefault();

  let name = document.getElementById('name');
  let email = document.getElementById('email');
  let message = document.getElementById('message');

  let isValid = validateFields(name, email, message);
  if(!isValid)
    return;

  submitForm(name, email, message);
});

function enableSubmit() {
  document.getElementById("submit").classList.remove('pure-button-disabled');
}

function disableSubmit() {
  document.getElementById("submit").classList.add('pure-button-disabled');
}

function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(String(email).toLowerCase());
}

function validateFields(name, email, message) {
  let nameLabel = document.getElementById('name-label');
  let nameError = document.getElementById('name-error');
  let emailLabel = document.getElementById('email-label');
  let emailError = document.getElementById('email-error');
  let messageLabel = document.getElementById('message-label');
  let messageError = document.getElementById('message-error');

  let isNameValid = true;
  let isEmailValid = true;
  let isMessageValid = true;
  if(name.value.length == 0) {
    nameLabel.style.color = 'red';
    name.style.border = '3px solid red';
    nameError.innerHTML = "Name can't be empty";
    isNameValid = false;
  } else {
    nameLabel.style.color = 'inherit';
    name.style.border = 'inherit';
    nameError.innerHTML = '';
    isNameValid = true;
  }

  if(email.value.length == 0) {
    emailLabel.style.color = 'red';
    email.style.border = '3px solid red';
    emailError.innerHTML = "Email can't be empty";
    isEmailValid = false;
  } else if (!validateEmail(email.value)) {
    emailLabel.style.color = 'red';
    email.style.border = '3px solid red';
    emailError.innerHTML = 'Please enter a valid email address;';
    isEmailValid = false;
  } else {
    emailLabel.style.color = 'inherit';
    email.style.border = 'inherit';
    emailError.innerHTML = '';
    isEmailValid = true;
  }

  if(message.value.length == 0) {
    messageLabel.style.color = 'red';
    message.style.border = '3px solid red';
    messageError.innerHTML = "Message can't be empty";
    isMessageValid = false;
  } else {
    messageLabel.style.color = 'inherit';
    message.style.border = 'inherit';
    messageError.innerHTML = '';
    isMessageValid = true;
  }

  return isNameValid && isEmailValid && isMessageValid;
}

function submitForm(name, email, message) {
  captcha = grecaptcha.getResponse();
  let data = JSON.stringify({name: name.value,
                              email: email.value,
                              message: message.value,
                              captcha: captcha});

  console.log(data);


  let resultText = document.getElementById('email-result');
  resultText.innerHTML = "Sending email...";

  let request = new XMLHttpRequest();
  request.open('POST', 'https://api.techorrect.com/contact-us');
  request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
  request.onreadystatechange = function() {
    if(request.readyState === 4) {
      if(request.status === 200) {
        resultText.innerHTML = "Thanks, your email was sent successfully.  We'll get back to you shortly!";
        resultText.style.color = 'inherit';
        name.value = '';
        email.value = '';
        message.value = '';
        grecaptcha.reset();
        disableSubmit();
      } else if (request.status === 400) {
        resultText.innerHTML = 'There was an error sending your email. ' + request.responseText;
        resultText.style.color = 'red';
      } else {
        resultText.innerHTML = 'There was an error sending your email.  Please try again.';
        resultText.style.color = 'red';
      }
    }
  };

  request.send(data);

}
</script>
