<div class="background-dark">
  <div class="l-pad-vertical-md width-lg">
    <h2 class="header is-center" id="contact-us">Contact Us</h2>

    <div class="pure-g background-light">
      <div class="box pure-u-1 pure-u-md-4-5">
        <form class="pure-form pure-form-stacked">
          <fieldset>
            <label for="name">Name</label>
            <input id="name" type="text">


            <label for="email">Email</label>
            <input id="email" type="email">

            <label for="message">Message</label>
            <textarea id="message" class=""></textarea>

            <button type="submit" class="pure-button">Send Message</button>
          </fieldset>
        </form>
      </div>

      <div class="contact box pure-u-1 pure-u-md-1-5">
        <h3>Mailing Address</h3>
            <address>
              2100 Bloor St. W. #6150<br/>
              Toronto, Ontario<br/>
              M6S 5A5
            </address>
        <h3>Telephone</h3>
            <p>416-716-7058</p>
        <h3>Email</h3>
            <a href="mailto:info@techorrect.com">info@techorrect.com</a>
      </div>
    </div> <!-- pure-g -->
  </div> <!-- l-pad-vertical-md -->
</div> <!-- background-dark -->
