{% include techorrect-logo.svg %}
<div class="background-dark home-menu pure-menu pure-menu-horizontal pure-menu-pull-right">
  <a href="/">
    <svg class="pure-img pure-menu-heading">
      <use xlink:href="#techorrect-logo" />
    </svg>
  </a>

  <ul class="pure-menu-list">
      {% for item in site.data.navigation %}
        <li class="pure-menu-item{% if (page.url == item.link or (page.isBlog and item.link == '/blog.html')) %} pure-menu-selected{% endif %}"><a href="{{ item.link }}" class="pure-menu-link">{{ item.name }}</a></li>
      {% endfor %}
  </ul>
</div>
