/*
 * -- BASE STYLES --
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: $medium-gray;
  font-size: 13px;
}

/* corresponds with purecss's lg */
.width-md {
  max-width: 1024px;
  margin: 0 auto;
}

/* corresponds with purecss's xl */
.width-lg {
  max-width: 1280px;
  margin: 0 auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.default-color {
  color: $medium-gray;
}

.background-white {
  background: white;
  color: $light-blue;
  fill: $light-blue;
}

.background-light {
    background: $light-blue;
    color: white;
    fill: white;
}

.background-dark {
  background: $dark-blue;
  color: $light-gray;
  fill: $light-gray;
}

/* Hide svg definitions */
#svg-elegant-line-icon-sprites {
  display: none;
}

#svg-techorrect-sprites {
  display: none;
}
