/*
 * -- index.html --
 */
.splash {
    width: 980px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin: 0;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.contact.box {
    border-left: 1px solid white;
} 

.contact address {
  font-style: normal;
}

.contact a[href] {
  color: white;
}

.contact a:hover,
.contact a:focus
{
  color: #2d3e50;
}

