/*
 * -- index.html --
 */
.splash {
    width: 980px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin: 0;
}

.splash-subhead {
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- Contact form --
 */
.contact.box {
    border-left: 1px solid white;
} 

.contact address {
  font-style: normal;
}

.contact a[href] {
  color: white;
}

.contact a:hover,
.contact a:focus
{
  color: $dark-blue;
}

/*
 * -- Team section on about.html --
 */
.team .social {
  text-align: center;
}

.team a[href] {
  color: white;
  fill: $light-blue;
}

.team a:hover,
.team a:focus
{
  color: white;
  fill: $light-blue;
}

/*
 * -- blog.html --
 */

.blog-index ul {
  list-style: none;
}

.blog-index a {
  color: $light-blue;
}

.blog-index a:visited {
  color: $medium-gray;
}

.blog-index-entry {
  margin: 0 auto 5em;
}

.blog-index-excerpt {
  color: $medium-gray;
}

.blog-index-continue {
  margin-right: 1em;
}

.blog-index-author {
  margin-left: 1em;
  color: $medium-gray;
}
