---
layout: default
---

<div class="background-white">
  <div class="width-md pure-g">
    <div class="blog pure-u-1">
      <h2 class="header is-underline">{{ page.title }}</h2>
      <p class="blog-author">
           posted by
           {% assign author = site.authors | where: 'short_name', page.author | first %}
           <a href="{{ author.url | replace: 'index.html', '' }}">{{ author.name }}</a>
           on {{ page.date | date: "%B %-d, %Y" }}
      </p>
      <hr/>
      <div class="blog-post-content">
        {{ content }}
      </div>

      <hr/>
      <div class="blog-post-comments">
          {% capture slug %}{{ page.slug | downcase | replace: '.', '-' }}{% endcapture %}
          {% assign comments_map = site.data.comments[slug] %}
          {% assign comments = site.emptyArray %}
          {% for comment in comments_map %}
            {% assign comments = comments | push: comment[1] %}
          {% endfor %}
          {% assign comment_count = comments | size %}
          <h2>Comments ({% if comment_count == 1 %}One response{% else %}{{ comment_count }} responses{% endif %})</h2>
          {% assign sorted_comments = comments | sort: 'date' %}
          {% for comment in sorted_comments %}
            <div class="comments-item">
              <span class="comments-name">{{ comment.name }}</span>
              |
              <span class="comments-date">{{ comment.date | date: "%F %T" }}</span>
              <div class="comments-message">{{ comment.message }}</div>
            </div>
          {% endfor %}

          {% include add-comment.html title=slug %}
      </div>
    </div>
  </div> <!-- pure-g -->
</div> <!-- background-white -->
